@import "base/_reset.scss";
@import "base/_typography.scss";
@import "base/_mixins.scss";

body, html {
    width: 100%;
    height: 100%;
	position: relative;
	margin:0;
	padding:0;
}

h1,h2 {
	margin: 0;
}

.container-wrapper {
	width: 100%;
	height:100%;
	margin: 0 auto;
	font-family: sans-serif;
}

.grid-header {
	color: $color-white;
	background: $background-color;
	text-align: center;
	padding: 15px;
}

.grid-section {
	background-color: $grid-property-color;
	color: $color-black;
	width:20%;

	h2 {
		padding: 8px;
	}

	ul {
	    text-decoration: none;
	    margin: 0;
	    padding: 0;

	    li {
	    	display: block;
	    	padding: 8px 1px 8px 16px;

	    	&:hover {
	    		background-color: $grid-property-hover-color;
	    	}
	    }
	}
}