@import "base/_reset.scss";
@import "base/_typography.scss";
@import "base/_mixins.scss";

body, html {
    width: 100%;
    height: 100%;
	position: relative;
	margin:0;
	padding:0;
}

.container-wrapper {
	width: 100%;
	height:100%;
}

.grid-header {
	color: $color-white;
	background: $background-color;
	text-align: center;
}
.grid-properties {
	width:20%;

	.grid-heading {
		background-color: $grid-property-color;
		color: $color-black;
	}
}