//color

$color-black: #000;
$color-white: #fff;
$background-color: #3f87a6;
$grid-property-color: #f1f1f1;
$grid-hover-color: #d3d3d3;
$demo-wrapper-color: #f76707;
$demo-wrapper-background-color: #fff4e6;
$demo-item-color:#ffa94d;
$demo-item-background-color: #ffd8a8;